:root {
  --primaryColor: #0CB263;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  color: white;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Header and navigation */
.nav-section {
  width: 100%;
  margin-left: 160px;
  margin-right: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  width: 100%;
  min-height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo h1 {
  font-size: 24px;
  color: var(--primaryColor);
  cursor: pointer;
}

.nav-container {
  display: flex;
  gap: 28px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-container a {
  font-size: 20px;
  cursor: pointer;
}

.contact-btn {
  background: none;
  border: 2px solid var(--primaryColor);
  border-radius: 16px;
  font-size: 20px;
  width: 136px;
  height: 55px;
  cursor: pointer;
}

/* Hero section */
.hero-section {
  width: 100%;
}

.hero-container {
  width: 100%;
  min-height: 748px;
  background-image: url(images/hero-background.png);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  z-index: -1000;
}

.hero-container h1 {
  font-size: 64px;
}

.hero-container h2 {
  font-size: 40px;
}

.hero-container p {
  width: 425px;
  font-size: 16px;
  text-align: center;
}

.hero-title {
  color: var(--primaryColor);
}

.hero-btn-container {
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  gap: 12px;
}
.resume-btn{
  padding:16px 44px;
  background-color:black;
  border:none;
  border-radius:50px;
  font-size:32px;
  color:#0CB263;
  position:relative;
  display:flex;
  align-items: center;
  justify-content:center;
  cursor:pointer;
  
}
.resume-btn span{
  z-index: 1000;
  color:#0CB263;
}



.portfolio-btn {
  padding:16px 44px;
  background:transparent;
  border:none;
  border-radius:50px;
  font-size:32px;
  position:relative;
  display:flex;
  align-items: center;
  justify-content:center;
  z-index:1000;
  cursor: pointer;
}

.portfolio-btn span{
  z-index: 1000;
  color:black;
}
.resume-btn::after{
  content:'';
  width:99%;
  height:99%;
  background:black;
  position:absolute;
  border-radius:50px;

}
.resume-btn::before{
  content:'';
  width:103%;
  height:107%;
  background-image: linear-gradient(to bottom right, #0CB263, rgba(214, 8, 214, 0.897));
  position:absolute;
  border-radius:50px;

}

.portfolio-btn::after{
  content:'';
  width:100%;
  height:100%;
  background-image: linear-gradient(to bottom right, #0CB263, rgba(214, 8, 214, 0.897));
  position:absolute;
  border-radius:50px;
}

.introduction-section{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:112px;
  flex-wrap: wrap;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(5,76,42,0.3) 100%);
  min-height:512px;
}

.my-img{
  max-width:465px;
  max-height:465px;
  position:relative;
  box-sizing: border-box;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.me-img{
  width:100%;
  border-radius: 50px;
  margin-top:20px;
  
}
.introduction-content-container {
  display: flex;
  flex-direction: column;
  gap:44px;
}

.introduction-content-container p{
  width:550px;
  text-align: left;
}

.introduction-content-container h1{
  font-size: 32px;
  font-weight: 700;
}

.introduction-content-container h1 span{
  color: var(--primaryColor);
}

.socials-container{
  display:flex;
  align-items: center;
  gap:20px;
  margin-bottom:20px;
}

.socials-container i{
  font-size:24px;
  color:var(--primaryColor);
}

.hamburger-container{
  display:none;
}