:root {
  --primaryColor: #0CB263;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  color: white;
}
input{
  display:none;
  height:10px;
  width:10px;
  z-index: 10000;
  background-color: white;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.nav-menu{
  display:flex;
  align-items: center;
  gap:40px;

}

/* Header and navigation */
.nav-section {
  width: 100%;
  margin-left: 56px;
  margin-right: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  width: 100%;
  min-height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  position:fixed;
  background-color: black;
  z-index: 100;

}

.logo h1 {
  font-size: 20px;
  color: var(--primaryColor);
  cursor: pointer;
}

.logo a{
  text-decoration: none;
}

.nav-container {
  display: flex;
  gap: 28px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-container a {
  font-size: 16px;
  cursor: pointer;
  color:white;
  transition: 0.5s;
}

.nav-container a:hover{
  color:blueviolet;
}

.contact-btn {
  background: none;
  border: 2px solid var(--primaryColor);
  border-radius: 16px;
  font-size: 16px;
  width: 136px;
  height: 55px;
  cursor: pointer;
  position:relative;
  display:flex;
  align-items: center;
  justify-content: center;
}
.contact-btn span{
  color:white;
  z-index:100;
}
.contact-btn:hover{
  color:blueviolet;
}
.contact-btn::after{
  content:'';
  width:100%;
  height:100%;
  background:black;
  position:absolute;
  border-radius:16px;
}
.contact-btn::before{
  content:'';
  width:103%;
  height:107%;
  background-image: var(--primaryColor);
  position:absolute;
  border-radius:16px;
  transition: 0.5s;
}

.contact-btn:hover:before{
  content:'';
  width:103%;
  height:107%;
  background-image: linear-gradient(to bottom right, #0CB263, rgba(214, 8, 214, 0.897));
  position:absolute;
  border-radius:16px;
  transition: 0.5s;
}
.hamburger-container{
  display:none;
}



/* Hero section */
.hero-section {
  width: 100%;
}

.hero-container {
  width: 100%;
  min-height: 748px;
  background-image: url(images/hero-background.png);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  z-index: -100;
}

.hero-container h1 {
  font-size: 64px;
}

.hero-container h2 {
  font-size: 40px;
}

.hero-container p {
  width: 425px;
  font-size: 16px;
  text-align: center;
}

.hero-title {
  color: var(--primaryColor);
}

.hero-btn-container {
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  gap: 12px;
}
.resume-btn{
  padding:16px 44px;
  background-color:black;
  border:none;
  border-radius:50px;
  font-size:32px;
  color:#0CB263;
  position:relative;
  display:flex;
  align-items: center;
  justify-content:center;
  cursor:pointer;
  
}
.resume-btn span{
  z-index: 10;
  color:#0CB263;
}



.portfolio-btn {
  padding:16px 44px;
  background:transparent;
  border:none;
  border-radius:50px;
  font-size:32px;
  position:relative;
  display:flex;
  align-items: center;
  justify-content:center;
  z-index:10;
  cursor: pointer;
}

.portfolio-btn span{
  z-index: 1000;
  color:black;
}
.resume-btn::after{
  content:'';
  width:99%;
  height:99%;
  background:black;
  position:absolute;
  border-radius:50px;

}
.resume-btn::before{
  content:'';
  width:103%;
  height:107%;
  background-image: linear-gradient(to bottom right, #0CB263, rgba(214, 8, 214, 0.897));
  position:absolute;
  border-radius:50px;
}

.portfolio-btn::after{
  content:'';
  width:100%;
  height:100%;
  background-image: linear-gradient(to bottom right, #0CB263, rgba(214, 8, 214, 0.897));
  position:absolute;
  border-radius:50px;
}

.introduction-section{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:112px;
  flex-wrap: wrap;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(5,76,42,0.3) 100%);
  min-height:512px;
}

.my-img{
  max-width:465px;
  max-height:465px;
  position:relative;
  box-sizing: border-box;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.me-img{
  width:100%;
  border-radius: 50px;
  
}
.introduction-content-container {
  display: flex;
  flex-direction: column;
  gap:44px;
}

.introduction-content-container p{
  width:550px;
  text-align: left;
}

.introduction-content-container h1{
  font-size: 32px;
  font-weight: 700;
}

.introduction-content-container h1 span{
  color: var(--primaryColor);
}

.socials-container{
  display:flex;
  align-items: center;
  gap:20px;

}

.socials-container i{
  font-size:24px;
  color:var(--primaryColor);
  transition:0.4s;
}

.socials-container i:hover{
  color:blueviolet;

}

.skills-section{
  margin-top:60px;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap:wrap;
  gap:60px;
}

.skills-section h1{
  font-size:32px;
  font-weight:600;
}
.skills-container{
  max-width:1128px;
  max-height:452px;
  display:flex;
  flex-wrap: wrap;
  gap:16px;
  align-items: center;
  justify-content: center;
}

.skill-card{
  width:364px;
  height:216px;
  display: flex;
  flex-direction: column;
  padding:20px 40px;
  justify-content:center;
  border:2px solid var(--primaryColor);
  box-sizing:border-box;
  gap:12px;
  border-radius: 20px;
}

.skill-card i{
  font-size: 36px;
  color:var(--primaryColor);
}

.skill-card p{
  font-size: 12px;
}

.skill-card h2{
  font-size: 20px;
  font-weight: 500;
}

@media only screen and (max-width: 1140px){
  .introduction-section{
    max-height:1000px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:56px;
    flex-wrap: wrap;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(5,76,42,0.3) 100%);
    min-height:512px;
  }
  .my-img{
    margin-top:36px;
    max-width:465px;
    max-height:465px;
    position:relative;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .introduction-content-container {
    display: flex;
    flex-direction: column;
    gap:36px;
    margin-bottom:36px;
    align-items: center;
    
  }
  .introduction-content-container p{
    width:550px;
    text-align: center;
  }
}

@media only screen and (max-width:768px){
  .hamburger-container{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    width: 20px;
    height: 15px;
    position:relative;


  }
  .bar{
    width:20px;
    height:3px;
    background-color:white;
    border-radius: 12px;
    transition:0.4s;
    position:absolute;
    transform: translateY(-50%);
   
  }

  .bar:nth-child(1){
    top:0;
  }
  .bar:nth-child(2){
    top:45%;
  }
  .bar:nth-child(3){
    bottom:0;
  }
  .nav-menu{
    position:absolute;
    display: flex;
    flex-direction: column;
    top:80px;
    right: 0;
    gap:40px;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
    width:300px;
    height:0;
    transition: 0.5s;
    overflow: hidden;

  }
  .nav-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input:checked + header .nav-menu{
    height:400px;
  }


  input:checked + header .hamburger-container .bar:nth-child(1){
    transform: rotate(45deg);
    top:40%;
  }
  input:checked + header .hamburger-container .bar:nth-child(2){
    transform: scale(0);

  }
  
  input:checked + header .hamburger-container .bar:nth-child(3){
    transform: rotate(-45deg);
    bottom:40%;
 
  }
  
  
}